Repository spiceai/docs, pull requests merged in 2024-11, with the labels that each got.

#611 Add docs for Anthropic models
  spiceaidocs/docs/components/models/anthropic.md
Labels: documentation

#575 CUDA & Apple silicon support
  spiceaidocs/docs/installation.md
Labels: documentation

#620 Fix build
  spiceaidocs/docs/features/ml-model-serving/index.md
Labels: bug

#616 Standardizing and Enhancing S3 connector Documentation
  spiceaidocs/docs/components/data-connectors/s3.md
Labels: documentation

#623 Add API Key authentication docs
  spiceaidocs/docs/api/arrow-flight-sql/index.md
  spiceaidocs/docs/api/auth/index.md
  spiceaidocs/docs/api/http/index.md
  spiceaidocs/docs/api/jdbc/index.md
  spiceaidocs/docs/clients/DBeaver/index.md
Labels: documentation

#629 docs: Release DuckDB RC
  spiceaidocs/docs/components/data-connectors/duckdb.md
  spiceaidocs/docs/components/data-connectors/index.md
  spiceaidocs/docs/reference/spicepod/datasets.md
Labels: documentation

#609 Standardizing File, FTP/SFTP and HTTPS connector docs
  spiceaidocs/docs/components/data-connectors/file.md
  spiceaidocs/docs/components/data-connectors/ftp.md
  spiceaidocs/docs/components/data-connectors/https.md
Labels: documentation

#603 Enhancing and Standardizing ABFS docs
  spiceaidocs/docs/components/data-connectors/abfs.md
  spiceaidocs/docs/components/secret-stores/index.md
Labels: documentation

#636 docs: Release DuckDB accelerator RC
  spiceaidocs/docs/components/data-accelerators/index.md
Labels: documentation

#607 Standardizing and enhancing Dremio documentation
  spiceaidocs/docs/components/data-connectors/dremio.md
Labels: documentation

#605 Enhancing and standardizing Databricks and Delta Lake documentation
  spiceaidocs/docs/components/data-connectors/databricks.md
  spiceaidocs/docs/components/data-connectors/delta-lake.md
Labels: documentation

#606 Standardizing and enhancing Debezium documentation
  spiceaidocs/docs/components/data-connectors/debezium.md
Labels: documentation

#645 Upgrade docusaurus to 3.6.2
  spiceaidocs/package-lock.json
  spiceaidocs/package.json
Labels: dependencies

#646 docs: Clarify S3 and ODBC docs
  spiceaidocs/docs/components/data-connectors/odbc.md
  spiceaidocs/docs/components/data-connectors/s3.md
Labels: documentation

#644 Add docs on cors runtime setting
  spiceaidocs/docs/api/http/index.md
  spiceaidocs/docs/reference/spicepod/index.md
Labels: documentation

#648 Update docs for `truncated_output` default change
  spiceaidocs/docs/reference/spicepod/index.md
  spiceaidocs/docs/reference/task_history.md
Labels: documentation

#652 Add docs for `--set-runtime` CLI
  spiceaidocs/docs/cli/reference/run.md
Labels: documentation

#604 Enhancing and standardizing Clickhouse documentation
  spiceaidocs/docs/components/data-connectors/clickhouse.md
Labels: documentation
