Repository spiceai/docs, pull requests merged in 2025-08, with the labels that each got.

#1096 Add docs for configuring max concurrent connections to GitHub's API
  website/docs/components/data-connectors/github.md
Labels: area/docs

#1097 Update bedrock.md
  website/docs/components/models/bedrock.md
Labels: area/docs

#1098 Update bedrock.md
  website/docs/components/models/bedrock.md
Labels: area/docs

#1099 Update authors.yml
  website/blog/authors.yml
Labels: area/blog, area/docs

#1092 Blog Post for v1.5.2
  website/blog/releases/v1.5.2.md
  website/blog/tags.yml
Labels: area/blog, release

#1102 docs: Add OpenAI usage tier parameter
  website/docs/components/embeddings/openai.md
  website/docs/components/models/openai.md
Labels: documentation, area/docs

#1106 Improve the clarity of the Iceberg data connector
  website/docs/components/catalogs/iceberg.md
  website/docs/components/data-connectors/iceberg.md
Labels: bug, area/docs

#1104 Documentation for MongoDB Connector
  website/docs/components/data-connectors/mongodb.md
Labels: area/docs

#1112 Add Kafka Data Connector
  website/docs/components/data-connectors/kafka.md
Labels: area/docs

#1111 Add documentation for using the Responses API from `spice chat`
  website/docs/cli/reference/chat.md
Labels: documentation, area/docs

#1119 Update OpenAPI.json
  website/docs/api/HTTP/generate-package.api.mdx
  website/docs/api/HTTP/get-catalogs.api.mdx
  website/docs/api/HTTP/get-config.api.mdx
  website/docs/api/HTTP/get-datasets.api.mdx
  website/docs/api/HTTP/get-iceberg-namespaces.api.mdx
  website/docs/api/HTTP/get-model-predict.api.mdx
  website/docs/api/HTTP/get-models.api.mdx
  website/docs/api/HTTP/get-spicepods.api.mdx
  website/docs/api/HTTP/get-status.api.mdx
  website/docs/api/HTTP/head-namespace.api.mdx
  website/docs/api/HTTP/list.api.mdx
  website/docs/api/HTTP/mcp-event.api.mdx
  website/docs/api/HTTP/operation-id.api.mdx
  website/docs/api/HTTP/patch-dataset-acceleration.api.mdx
  website/docs/api/HTTP/post-batch-predict.api.mdx
  website/docs/api/HTTP/post-chat-completions.api.mdx
  website/docs/api/HTTP/post-dataset-refresh.api.mdx
  website/docs/api/HTTP/post-embeddings.api.mdx
  website/docs/api/HTTP/post-eval.api.mdx
  website/docs/api/HTTP/post-nsql.api.mdx
  website/docs/api/HTTP/post-search.api.mdx
  website/docs/api/HTTP/post-sql.api.mdx
  website/docs/api/HTTP/post.api.mdx
  website/docs/api/HTTP/ready.api.mdx
  website/docs/api/HTTP/runtime.info.mdx
  website/public/openapi.json
Labels: documentation, area/docs

#1115 Update documentation for advanced upsert behavior
  website/docs/features/data-acceleration/constraints.md
  website/docs/reference/spicepod/datasets.md
Labels: area/docs

#1116 Add link to MongoDB connector recipe
  website/src/pages/cookbook/_ignored.tsx
Labels: area/cookbook

#1122 Add OpenAI responses API and Apache Kafka connector recipes
  website/src/pages/cookbook/_ignored.tsx
Labels: area/cookbook

#1120 Add docs for `GROUP BY ALL` and `ORDER BY ALL`
  website/docs/reference/sql/select.md
Labels: area/docs

#1123 Regenerate api docs
  website/docs/api/HTTP/generate-package.api.mdx
  website/docs/api/HTTP/get-catalogs.api.mdx
  website/docs/api/HTTP/get-config.api.mdx
  website/docs/api/HTTP/get-datasets.api.mdx
  website/docs/api/HTTP/get-iceberg-namespaces.api.mdx
  website/docs/api/HTTP/get-model-predict.api.mdx
  website/docs/api/HTTP/get-models.api.mdx
  website/docs/api/HTTP/get-spicepods.api.mdx
  website/docs/api/HTTP/get-status.api.mdx
  website/docs/api/HTTP/head-namespace.api.mdx
  website/docs/api/HTTP/list.api.mdx
  website/docs/api/HTTP/mcp-event.api.mdx
  website/docs/api/HTTP/operation-id.api.mdx
  website/docs/api/HTTP/patch-dataset-acceleration.api.mdx
  website/docs/api/HTTP/post-batch-predict.api.mdx
  website/docs/api/HTTP/post-chat-completions.api.mdx
  website/docs/api/HTTP/post-dataset-refresh.api.mdx
  website/docs/api/HTTP/post-embeddings.api.mdx
  website/docs/api/HTTP/post-eval.api.mdx
  website/docs/api/HTTP/post-nsql.api.mdx
  website/docs/api/HTTP/post-search.api.mdx
  website/docs/api/HTTP/post-sql.api.mdx
  website/docs/api/HTTP/post.api.mdx
  website/docs/api/HTTP/ready.api.mdx
Labels: area/docs

#1124 Skip generated API commit and push on release branches
  .github/workflows/updated_openapi.yml
Labels: area/docs

#1131 Add Cloud Docs Link to OSS Docs
  website/docusaurus.config.ts
Labels: documentation, area/docs
