Repository spiceai/docs, pull requests merged in 2025-07, with the labels that each got.

#1054 Upgrade to Docusarus v3.8.1 and faster
  website/docusaurus.config.ts
  website/package-lock.json
  website/package.json
Labels: enhancement, area/blog, area/docs, area/cookbook

#1032 Model default overrides use model prefix
  website/docs/components/models/index.md
  website/docs/components/models/perplexity.md
  website/docs/features/large-language-models/parameter_overrides.md
Labels: area/docs

#1038 Promote spice cloud connector to stable and document spice cloud connector limitation
  website/docs/components/data-connectors/index.md
  website/docs/components/data-connectors/spiceai.md
Labels: area/docs

#1056 Update `spice run` docs to include configuration of OpenTelemetry endpoint
  website/docs/cli/reference/run.md
Labels: area/docs

#1057 Document MySQL `mysql_time_zone` param
  website/docs/components/data-connectors/mysql.md
Labels: enhancement, area/docs

#1055 Update spice-rs example
  website/docs/sdks/rust/index.md
Labels: nomerge, area/docs

#1059 docs: Update acknowledgements
  website/docs/acknowledgements/index.md
Labels: documentation, area/docs

#1061 Add documentation for AWS bedrock embedding models
  website/docs/components/embeddings/bedrock.md
  website/docs/components/embeddings/index.md
Labels: area/docs

#1058 Document Oracle Data Connector
  website/docs/components/data-connectors/oracle.md
  website/docs/tags.yml
Labels: enhancement, area/docs

#1065 Acceleration partitioning docs
  website/docs/components/data-accelerators/duckdb.md
  website/docs/features/data-acceleration/partitioning.md
Labels: documentation, area/docs

#1060 Add docs for members table type in the GitHub data connector
  website/docs/components/data-connectors/github.md
Labels: documentation, area/docs

#1069 Add Oracle to cookbooks index
  website/src/pages/cookbook/_ignored.tsx
Labels: area/cookbook

#1071 Add recipes.
  website/src/pages/cookbook/_ignored.tsx
Labels: area/cookbook

#1068 Release 1.5.0 Docs
  website/docs/acknowledgements/index.md
  website/docs/components/data-accelerators/duckdb.md
  website/docs/components/data-connectors/index.md
  website/docs/components/data-connectors/mysql.md
  website/docs/components/data-connectors/oracle.md
  website/docs/components/data-connectors/spiceai.md
  website/docs/components/embeddings/bedrock.md
  website/docs/components/models/index.md
  website/docs/components/models/perplexity.md
  website/docs/components/vectors/index.md
  website/docs/components/vectors/s3_vectors.md
  website/docs/features/data-acceleration/data-refresh.md
  website/docs/features/data-acceleration/partitioning.md
  website/docs/features/large-language-models/parameter_overrides.md
  website/docs/features/search/full-text.md
  website/docs/features/search/index.md
  website/docs/features/search/vector-search.md
  website/docs/index.mdx
  website/docs/reference/spicepod/datasets.md
  website/docs/sdks/rust/index.md
  website/docs/tags.yml
  website/src/pages/cookbook/_ignored.tsx
Labels: area/docs

#1075 Fix broken link on release notes
  website/blog/releases/v1.5.0.md
Labels: documentation, area/docs, release

#1074 Update docs to include PR comments information
  website/docs/components/data-connectors/github.md
Labels: documentation, area/docs

#1078 Update Bedrock model configuration
  website/docs/components/embeddings/bedrock.md
Labels: documentation, area/docs

#1081 Add cache-control usage example for JDBC
  website/docs/features/caching/index.md
Labels: area/docs

#1080 Docs for embeddings vector_size parameter
  website/docs/reference/spicepod/datasets.md
Labels: area/docs

#1079 Add instructions for Power BI connector
  website/docs/clients/powerbi/index.md
  website/static/img/powerbi/powerbi-spice-auth-dlg.png
  website/static/img/powerbi/powerbi-spice-connection-dlg.png
  website/static/img/powerbi/powerbi-spice-connector.png
  website/static/img/powerbi/powerbi-spice-example.png
Labels: area/docs

#1085 blog post v1.5.1
  website/blog/releases/v1.5.1.md
  website/blog/tags.yml
  website/docusaurus.config.ts
Labels: area/blog, release

#1088 Fix broken blog link
  website/docs/components/vectors/index.md
  website/docs/components/vectors/s3_vectors.md
  website/docs/features/search/index.md
  website/docs/features/search/vector-search.md
  website/docusaurus.config.ts
Labels: bug, area/docs
