Repository spiceai/docs, pull requests merged in 2025-02, with the labels that each got.

#824 docs: Release Spice Cloud Catalog Beta
  website/docs/components/catalogs/index.md
  website/docs/components/catalogs/spiceai.md
Labels: documentation

#829 remove 'tools: builtin'
  website/docs/features/large-language-models/tools.md
Labels: documentation

#832 Update openapi.json
  .github/workflows/updated_openapi.yml
  website/docs/api/HTTP/generate-package.api.mdx
  website/docs/api/HTTP/get-catalogs.api.mdx
  website/docs/api/HTTP/get-config.api.mdx
  website/docs/api/HTTP/get-datasets.api.mdx
  website/docs/api/HTTP/get-iceberg-namespaces.api.mdx
  website/docs/api/HTTP/get-model-predict.api.mdx
  website/docs/api/HTTP/get-models.api.mdx
  website/docs/api/HTTP/get-spicepods.api.mdx
  website/docs/api/HTTP/get-status.api.mdx
  website/docs/api/HTTP/head-namespace.api.mdx
  website/docs/api/HTTP/list.api.mdx
  website/docs/api/HTTP/patch-dataset-acceleration.api.mdx
  website/docs/api/HTTP/post-batch-predict.api.mdx
  website/docs/api/HTTP/post-chat-completions.api.mdx
  website/docs/api/HTTP/post-dataset-refresh.api.mdx
  website/docs/api/HTTP/post-embeddings.api.mdx
  website/docs/api/HTTP/post-eval.api.mdx
  website/docs/api/HTTP/post-nsql.api.mdx
  website/docs/api/HTTP/post-sample-dataset.api.mdx
  website/docs/api/HTTP/post-search.api.mdx
  website/docs/api/HTTP/post-sql.api.mdx
  website/docs/api/HTTP/post.api.mdx
  website/docs/api/HTTP/ready.api.mdx
  website/docs/api/HTTP/runtime.info.mdx
  website/docs/api/HTTP/sidebar.ts
  website/public/openapi.json
Labels: documentation

#833 Add deployment architectures
  website/docs/deployment/architectures/cluster.md
  website/docs/deployment/architectures/hosted.md
  website/docs/deployment/architectures/index.md
  website/docs/deployment/architectures/microservice.md
  website/docs/deployment/architectures/sharded.md
  website/docs/deployment/architectures/sidecar.md
  website/docs/deployment/architectures/tiered.md
  website/docs/deployment/docker.md
  website/docs/deployment/kubernetes/index.md
Labels: documentation

#834 CLI docs for spice trace
  website/docs/cli/reference/trace.md
Labels: documentation

#836 blog post for v1.0.2
  website/blog/releases/v1.0.2.md
  website/blog/tags.yml
Labels: blog

#839 blog post update v1.0.2
  website/blog/releases/v1.0.2.md
Labels: blog

#842 Fix k8s doc: `readynessProbe`-> `readinessProbe`
  website/docs/deployment/kubernetes/index.md
Labels: documentation

#843 Add tools under /docs/components
  website/docs/components/tools/index.md
  website/docs/components/tools/websearch.md
  website/docs/features/large-language-models/memory.md
  website/docs/features/large-language-models/tools.md
  website/docs/reference/spicepod/tools.md
Labels: documentation

#850 Update openapi.json
  website/docs/api/HTTP/post-chat-completions.api.mdx
  website/public/openapi.json
Labels: documentation

#851 Fix typo in xAI model reference
  website/docs/components/models/xai.md
Labels: documentation, enhancement

#852 Update Docker Deployment Docs
  website/docs/deployment/docker.md
Labels: documentation, enhancement

#865 docs: Update models grading
  website/docs/components/models/openai.md
  website/docs/reference/models.md
Labels: documentation

#877 Add v1.0.4 blog post
  website/blog/releases/v1.0.4.md
Labels: blog

#879 Add System Requirements
  website/docs/reference/system_requirements.md
Labels: documentation

#881 Fix sidebar label
  website/docs/reference/system_requirements.md
Labels: documentation
