Repository spiceai/docs, pull requests merged in 2025-09, with the labels that each got.

#1135 Tweak header for width
  website/docusaurus.config.ts
Labels: area/docs

#1134 Kafka: document additional params and mark as Alpha quality
  website/docs/components/data-connectors/index.md
  website/docs/components/data-connectors/kafka.md
Labels: area/docs

#1138 v1.6.1 release blog (#1137)
  website/blog/releases/v1.6.1.md
Labels: area/blog, release

#1139 v1.6.1 release blog in Banner.
  website/docusaurus.config.ts
Labels: area/docs

#1141 Fix Observability (metrics) table layout
  website/docs/features/observability/index.md
Labels: area/docs

#1145 Add time and date functions
  website/docs/reference/sql/scalar_functions.md
Labels: area/docs, area/sql-reference

#1147 Add `output_level` documentation
  website/docs/cli/tracing.md
Labels: area/docs

#1146 Move monitoring stacks to dedicated Monitoring section
  website/docs/cli/index.md
  website/docs/deployment/kubernetes/index.md
  website/docs/features/observability/index.md
  website/docs/monitoring/datadog/index.md
  website/docs/monitoring/grafana/index.md
  website/docs/monitoring/index.md
  website/docs/reference/index.md
  website/docs/sdks/index.md
Labels: area/docs

#1151 Document Zipkin integration
  website/docs/features/observability/index.md
  website/docs/monitoring/zipkin/index.md
Labels: area/docs

#1152 Add JSON format and `json_format`
  website/docs/components/data-connectors/index.md
  website/docs/components/data-connectors/s3.md
  website/docs/reference/file_format.md
Labels: enhancement, area/docs

#1154 Document Kafka/Debezium consumer_group_id and component metrics
  website/docs/components/data-connectors/debezium.md
  website/docs/components/data-connectors/file.md
  website/docs/components/data-connectors/kafka.md
Labels: area/docs

#1160 Blog Release for v1.7.0
  website/blog/releases/image.png
  website/blog/releases/v1.7.0.md
  website/blog/tags.yml
Labels: area/blog, release

#1164 Add `runtime.output_level` reference documentation
  website/docs/reference/spicepod/runtime.md
Labels: area/docs

#1167 Add acceleration refresh metrics docs
  website/docs/features/observability/index.md
Labels: area/docs

#1169 v1.7.1 Documentation Updates
  website/docs/features/observability/index.md
  website/docs/features/search/full-text.md
  website/docs/features/search/index.md
  website/docs/features/search/vector-search.md
  website/docs/reference/sql/search.md
  website/src/pages/cookbook/_ignored.tsx
Labels: area/docs, area/sql-reference

#1170 Blog Post for v1.7.1
  website/blog/releases/v1.7.1.md
  website/blog/tags.yml
Labels: area/blog, release
