Repository spiceai/docs, pull requests merged in 2025-10, with the labels that each got.

#1173 Document new write capabilities (SQL INSERT INTO)
  website/docs/components/catalogs/glue.md
  website/docs/components/catalogs/iceberg.md
  website/docs/components/data-connectors/glue.md
  website/docs/components/data-connectors/iceberg.md
  website/docs/components/data-connectors/memory.md
  website/docs/components/models/index.md
  website/docs/features/data-ingestion/index.md
  website/docs/features/large-language-models/memory.md
  website/docs/reference/spicepod/catalogs.md
  website/docs/reference/spicepod/datasets.md
  website/docs/reference/sql/dml.md
  website/docs/reference/sql/index.md
  website/docs/tags.yml
Labels: area/docs

#1176 Document limitations of JSON functions in Spice
  website/docs/reference/sql/json.md
Labels: area/docs

#1177 Release/1.8
  website/blog/releases/v1.0-stable.md
  website/blog/releases/v1.0.2.md
  website/blog/releases/v1.0.5.md
  website/blog/releases/v1.1.0.md
  website/blog/releases/v1.1.1.md
  website/blog/releases/v1.1.2.md
  website/blog/releases/v1.2.0.md
  website/blog/releases/v1.2.1.md
  website/blog/releases/v1.2.2.md
  website/blog/releases/v1.4.0.md
  website/blog/releases/v1.5.0.md
  website/blog/releases/v1.5.2.md
  website/blog/releases/v1.6.0.md
  website/blog/releases/v1.6.1.md
  website/blog/releases/v1.7.0.md
  website/blog/releases/v1.7.1.md
  website/docs/api/odbc/index.md
  website/docs/cli/reference/trace.md
  website/docs/components/catalogs/glue.md
  website/docs/components/catalogs/iceberg.md
  website/docs/components/data-connectors/glue.md
  website/docs/components/data-connectors/iceberg.md
  website/docs/components/data-connectors/memory.md
  website/docs/components/models/index.md
  website/docs/components/tools/index.md
  website/docs/components/vectors/s3_vectors.md
  website/docs/features/data-ingestion/index.md
  website/docs/features/large-language-models/index.md
  website/docs/features/large-language-models/memory.md
  website/docs/reference/spicepod/catalogs.md
  website/docs/reference/spicepod/datasets.md
  website/docs/reference/spicepod/models.md
  website/docs/reference/sql/ai.md
  website/docs/reference/sql/dml.md
  website/docs/reference/sql/index.md
  website/docs/reference/sql/scalar_functions.md
  website/docs/reference/task_history.md
  website/docs/tags.yml
  website/src/pages/cookbook/_ignored.tsx
Labels: area/docs, release

#1181 Improve v1.8.0 changelog format
  website/blog/releases/v1.8.0.md
Labels: area/blog, release

#1184 Removed acceleration snapshot docs link from v1.8.0 blog
  website/blog/releases/v1.8.0.md
Labels: area/blog, release

#1187 Update CLI commands with new --endpoint
  website/docs/cli/reference/chat.md
  website/docs/cli/reference/search.md
  website/docs/cli/reference/sql.md
Labels: area/docs, area/cli-reference
