Repository spiceai/docs, pull requests merged in 2025-01, with the labels that each got.

#710 docs: Release Postgres accelerator RC
  spiceaidocs/docs/components/data-accelerators/index.md
  spiceaidocs/docs/components/data-accelerators/postgres/index.md
Labels: documentation

#713 Add Scarf img
  spiceaidocs/docusaurus.config.ts
Labels: enhancement

#711 Add grok/xAI to docs
  spiceaidocs/docs/components/models/index.md
  spiceaidocs/docs/components/models/spiceai.md
  spiceaidocs/docs/components/models/xai.md
Labels: documentation

#722 Tweaks to the LLM section
  spiceaidocs/docs/components/models/index.md
  spiceaidocs/docs/features/evals/index.md
  spiceaidocs/docs/features/large-language-models/evals.md
  spiceaidocs/docs/features/large-language-models/index.md
  spiceaidocs/docs/features/large-language-models/memory.md
  spiceaidocs/docs/features/large-language-models/parameter_overrides.md
  spiceaidocs/docs/features/large-language-models/serving.md
  spiceaidocs/docs/features/large-language-models/tools.md
  spiceaidocs/docs/features/machine-learning-models/index.md
  spiceaidocs/docs/features/machine-learning-models/serving.md
  spiceaidocs/docs/reference/spicepod/models.md
Labels: documentation

#728 Improvements to structure
  spiceaidocs/docs/api/HTTP/sidebar.ts
  spiceaidocs/docs/api/adbc/index.md
  spiceaidocs/docs/api/arrow-flight-sql/index.md
  spiceaidocs/docs/api/auth/index.md
  spiceaidocs/docs/api/jdbc/index.md
  spiceaidocs/docs/api/odbc/index.md
  spiceaidocs/docs/api/overview.md
  spiceaidocs/docs/api/tls/index.md
  spiceaidocs/docs/reference/spicepod/index.md
  spiceaidocs/docusaurus.config.ts
  spiceaidocs/package-lock.json
  spiceaidocs/package.json
  spiceaidocs/sidebars.ts
  spiceaidocs/src/css/custom.css
Labels: enhancement

#729 Update README to match GitHub updates
  spiceaidocs/docs/components/catalogs/index.md
  spiceaidocs/docs/components/data-accelerators/index.md
  spiceaidocs/docs/components/data-connectors/index.md
  spiceaidocs/docs/components/models/index.md
  spiceaidocs/docs/index.md
  spiceaidocs/docs/index.mdx
  spiceaidocs/package-lock.json
  spiceaidocs/package.json
Labels: documentation, enhancement

#731 Improvements and clarifications to `spice add`
  spiceaidocs/docs/cli/reference/add.md
Labels: documentation, enhancement

#730 Improve `spice version` documentation
  spiceaidocs/docs/cli/reference/version.md
Labels: documentation, enhancement

#738 Improve docs for `spice init`
  spiceaidocs/docs/cli/reference/init.md
Labels: documentation

#743 Add Cookbook page
  website/docusaurus.config.ts
  website/src/components/atoms/button/button.tsx
  website/src/components/atoms/container/container.tsx
  website/src/components/atoms/link/link.tsx
  website/src/components/atoms/paragraph/paragraph.tsx
  website/src/components/atoms/title/title.tsx
  website/src/components/molecules/cta/cta.tsx
  website/src/components/molecules/dots-pagination/dots-pagination.tsx
  website/src/components/molecules/playground-options/playground-options.tsx
  website/src/components/molecules/recipe/recipe.tsx
  website/src/components/molecules/social/social.tsx
  website/src/components/organisms/before-and-after/before-and-after-slide.tsx
  website/src/components/ui/button.tsx
  website/src/components/ui/carousel.tsx
  website/src/components/ui/dialog.tsx
  website/src/lib/utils.ts
  website/src/pages/cookbook/index.tsx
Labels: documentation, enhancement

#732 Improve `spice catalog` documentation
  website/docs/cli/reference/catalogs.md
Labels: documentation

#753 Add blog post for v1.0.0-rc.5
  website/blog/releases/v1.0-rc.5.md
Labels: blog

#754 Deploy to Cloudflare Pages instead of GitHub Pages
  .github/workflows/build_and_publish.yml
  website/package-lock.json
  website/package.json
Labels: enhancement

#757 Add examples of using tags
  website/docs/features/large-language-models/evals.md
  website/docs/features/large-language-models/index.md
  website/docs/features/large-language-models/memory.md
  website/docs/features/large-language-models/parameter_overrides.md
  website/docs/features/large-language-models/serving.md
  website/docs/features/large-language-models/tools.md
  website/docs/features/machine-learning-models/index.md
  website/docs/features/search/index.md
  website/docs/features/search/vector-search.md
  website/docs/tags.yml
Labels: documentation

#758 docs: Release DuckDB connector stable
  website/docs/components/data-connectors/duckdb.md
  website/docs/components/data-connectors/index.md
Labels: documentation

#760 Update tags in tags.yml
  website/docs/acknowledgements/index.md
  website/docs/api/HTTP/generate-package.api.mdx
  website/docs/api/HTTP/get-catalogs.api.mdx
  website/docs/api/HTTP/get-config.api.mdx
  website/docs/api/HTTP/get-datasets.api.mdx
  website/docs/api/HTTP/get-iceberg-namespaces.api.mdx
  website/docs/api/HTTP/get-model-predict.api.mdx
  website/docs/api/HTTP/get-models.api.mdx
  website/docs/api/HTTP/get-spicepods.api.mdx
  website/docs/api/HTTP/get-status.api.mdx
  website/docs/api/HTTP/head-namespace.api.mdx
  website/docs/api/HTTP/list.api.mdx
  website/docs/api/HTTP/patch-dataset-acceleration.api.mdx
  website/docs/api/HTTP/post-batch-predict.api.mdx
  website/docs/api/HTTP/post-chat-completions.api.mdx
  website/docs/api/adbc/index.md
  website/docs/api/arrow-flight-sql/index.md
  website/docs/api/auth/index.md
  website/docs/cli/reference/login.md
  website/docs/cli/tracing.md
  website/docs/components/catalogs/databricks.md
  website/docs/components/catalogs/iceberg.md
  website/docs/components/catalogs/index.md
  website/docs/components/catalogs/unity-catalog.md
  website/docs/components/data-connectors/abfs.md
  website/docs/components/data-connectors/databricks.md
  website/docs/components/data-connectors/delta-lake.md
  website/docs/components/data-connectors/dynamodb.md
  website/docs/components/data-connectors/github.md
  website/docs/components/data-connectors/index.md
  website/docs/components/data-connectors/memory.md
  website/docs/components/data-connectors/mysql.md
  website/docs/components/embeddings/azure.md
  website/docs/components/embeddings/index.md
  website/docs/deployment/docker.md
  website/docs/deployment/kubernetes/index.md
  website/docs/features/large-language-models/evals.md
  website/docs/features/large-language-models/memory.md
  website/docs/features/large-language-models/parameter_overrides.md
  website/docs/features/large-language-models/tools.md
  website/docs/features/search/index.md
  website/docs/features/search/vector-search.md
  website/docs/getting-started/spicepods.md
  website/docs/index.mdx
  website/docs/reference/spicepod/datasets.md
  website/docs/reference/spicepod/index.md
  website/docs/reference/sql/task_history.md
  website/docs/tags.yml
Labels: documentation

#764 Fix image URL
  website/blog/2024/adding-spice.mdx
Labels: bug

#765 docs: Release stable accelerators
  website/docs/components/data-accelerators/duckdb.md
  website/docs/components/data-accelerators/index.md
Labels: documentation

#769 Promote Dremio to Stable quality
  website/docs/components/data-connectors/index.md
Labels: enhancement

#774 docs: Release postgres connector stable
  website/docs/components/data-connectors/index.md
Labels: documentation

#770 Document delta lake data type - arrow data type mapping
  website/docs/components/data-connectors/delta-lake.md
Labels: enhancement

#777 Update OpenAI docs to match data connector format
  website/docs/components/models/openai.md
Labels: documentation

#775 docs: Release Delta Lake and Unity Catalog
  website/docs/components/catalogs/index.md
  website/docs/components/data-connectors/index.md
Labels: documentation

#779 Improve getting started section to have data-grounded AI quickstart
  website/blog/2024/adding-spice.mdx
  website/docs/features/federated-queries/index.md
  website/docs/getting-started/index.mdx
  website/docs/getting-started/spiceai.md
  website/docs/getting-started/telemetry.md
  website/docs/index.mdx
Labels: enhancement

#784 Use Open Sans font
  website/docusaurus.config.ts
  website/tailwind.config.ts
Labels: enhancement

#788 Remove the `spice install ai` step from getting started
  website/docs/getting-started/index.mdx
Labels: documentation

#794 Update docs banner
  website/docusaurus.config.ts
Labels: documentation

#795 Update acknowledgements
  website/docs/acknowledgements/index.md
Labels: documentation

#797 [blog] 1.0-stable release post
  website/blog/releases/v1.0-stable.md
  website/blog/tags.yml
Labels: blog

#799 Add X link
  website/docusaurus.config.ts
Labels: enhancement

#803 Image updates and improvements
  website/docs/cli/reference/refresh.md
  website/docs/clients/Datadog/index.md
  website/docs/clients/grafana/index.md
  website/docs/components/data-accelerators/index.md
  website/docs/components/data-connectors/file.md
  website/docs/components/data-connectors/github.md
  website/docs/features/caching/index.md
  website/docs/features/data-acceleration/data-refresh.md
  website/docs/features/data-acceleration/index.md
  website/docs/features/data-ingestion/index.md
  website/docs/features/embeddings/index.md
  website/docs/features/large-language-models/index.md
  website/docs/features/observability/index.md
  website/docs/features/query-federation/index.md
  website/docs/features/search/index.md
  website/docs/features/semantic-model/index.md
  website/docs/index.mdx
  website/docs/tags.yml
  website/docs/use-cases/agentic-apps/index.md
  website/docs/use-cases/data-mesh/index.md
  website/docs/use-cases/database-cdn/index.md
  website/docusaurus.config.ts
  website/src/components/molecules/feature/feature.tsx
  website/src/components/organisms/hero-playground/hero-playground.tsx
  website/static/img/features/acceleration-refresh.png
  website/static/img/features/ai-gateway.png
  website/static/img/features/data-acceleration.png
  website/static/img/features/observability.png
  website/static/img/features/query-federation.png
  website/static/img/spice.ai-compute-engine.png
  website/static/img/use-cases/database-cdn.png
Labels: enhancement

#806 Add CF generate-image
  .gitignore
  website/functions/generate-image.jsx
  website/package-lock.json
  website/package.json
  website/src/components/molecules/article/article-image.tsx
Labels: enhancement

#807 Update Wrangler CD
  .github/workflows/build_and_publish.yml
Labels: enhancement

#782 [Blog] 1.0-stable announcement
  website/blog/2024/announcing-1.0-stable.mdx
  website/docs/getting-started/index.mdx
  website/docusaurus.config.ts
  website/src/components/molecules/quote/quote.tsx
  website/static/img/blog/2024/announcing-1.0-stable/benioff-clippy-2.0.png
  website/static/img/blog/2024/announcing-1.0-stable/data-grounded-ai.png
  website/static/img/blog/2024/announcing-1.0-stable/inside-spice.ai-oss.png
  website/static/img/blog/2024/announcing-1.0-stable/secure-compute-engine.png
  website/static/img/blog/2024/announcing-1.0-stable/spice.ai-compute-engine.png
  website/static/img/blog/2024/announcing-1.0-stable/spice.ai-open-source.png
  website/static/img/blog/2024/announcing-1.0-stable/use-case-barracuda.png
  website/static/img/blog/2024/announcing-1.0-stable/use-case-nrc.png
  website/static/img/blog/2024/announcing-1.0-stable/use-case-twilio.png
  website/static/svg/barracuda.svg
  website/static/svg/nrc-health.svg
  website/static/svg/twilio.svg
Labels: blog, nomerge

#818 docs: Update spicepy SDK docs
  website/docs/sdks/python/index.md
Labels: documentation

#821 blog post for v1.0.1
  website/blog/releases/v1.0.1.md
  website/blog/tags.yml
Labels: blog

#823 docs: Update Windows install
  website/docs/getting-started/index.mdx
  website/docs/installation.md
  website/src/components/molecules/install-options/install-options.tsx
Labels: documentation

#825 fix: dataset load parallelism
  website/docs/reference/spicepod/index.md
Labels: bug
