Repository spiceai/docs, pull requests merged in 2025-05, with the labels that each got.

#977 Fix typo in databricks.md
  website/docs/components/models/databricks.md
Labels: area/docs

#982 Update acknowledgements
  website/docs/acknowledgements/index.md
Labels: area/blog

#978 Add Databricks M2M and PAT auth docs for data and catalog connectors
  website/docs/components/catalogs/databricks.md
  website/docs/components/data-connectors/databricks.md
Labels: nomerge, area/docs

#983 Spice v1.2.1 docs update
  website/docs/acknowledgements/index.md
  website/docs/components/catalogs/databricks.md
  website/docs/components/data-connectors/databricks.md
Labels: area/docs

#981 Blog post for v1.2.1 and tags update
  website/blog/releases/v1.2.1.md
Labels: area/blog, release

#984 update docs banner v1.2.1
  website/docusaurus.config.ts
Labels: area/blog, release

#985 update to spacing v1.2.1
  website/blog/releases/v1.2.1.md
Labels: area/blog, release

#988 Fix image in announce 1.0 blog post
  website/blog/2024/announcing-1.0-stable.mdx
  website/static/img/blog/2024/announcing-1.0-stable/darin-douglass.jpeg
  website/static/img/blog/2024/announcing-1.0-stable/david-blum.jpeg
  website/static/img/blog/2024/announcing-1.0-stable/david-stancu.jpeg
  website/static/img/blog/2024/announcing-1.0-stable/dustin-warner.jpeg
  website/static/img/blog/2024/announcing-1.0-stable/peter-janovsky.jpeg
  website/static/img/blog/2024/announcing-1.0-stable/taher-ahmed.jpeg
Labels: bug, area/docs

#990 fix: Don't deploy with missing secrets
  .github/workflows/build_and_publish.yml
Labels: bug, area/docs

#980 Add missing github token param
  website/docs/features/search/vector-search.md
Labels: area/docs

#997 Update Docs Banner v1.2.2
  website/docusaurus.config.ts
Labels: area/blog

#996 blog for v1.2.2
  website/blog/releases/v1.2.2.md
  website/blog/tags.yml
Labels: area/blog, release

#1000 Databricks SQL Warehouse
  website/docs/components/catalogs/databricks.md
  website/docs/components/data-connectors/databricks.md
Labels: documentation, area/docs

#1002 Update Helm deployment documentation
  website/docs/deployment/kubernetes/index.md
Labels: area/docs

#1001 docs: Add hashing algorithm documentation for results cache
  website/docs/features/caching/index.md
  website/docs/reference/spicepod/runtime.md
Labels: documentation, area/docs

#999 put parameters in tables
  website/docs/components/catalogs/databricks.md
Labels: area/docs

#1004 Add Accelerated Views cookbook recipe
  website/src/pages/cookbook/_ignored.tsx
Labels: area/cookbook

#1006 Update acknowledgments for 1.3
  website/docs/acknowledgements/index.md
Labels: area/docs

#1007 Upgrade Wrangler and pin Actions version
  .github/workflows/build_and_publish.yml
  .github/workflows/enforce-pulls-with-spice.yml
  website/package-lock.json
  website/package.json
Labels: dependencies, area/docs

#1003 Merge Release/1.3.0
  website/docs/acknowledgements/index.md
  website/docs/components/catalogs/databricks.md
  website/docs/components/data-connectors/databricks.md
  website/docs/features/caching/index.md
  website/docs/reference/spicepod/runtime.md
  website/src/pages/cookbook/_ignored.tsx
Labels: area/docs

#1009 Docs banner update v1.3.0
  website/docusaurus.config.ts
Labels: area/blog, area/docs, release

#1010 Remove text block for MD friendly links
  website/blog/releases/v1.2.0.md
  website/blog/releases/v1.2.1.md
  website/blog/releases/v1.3.0.md
Labels: area/blog, release

#1012 Add migration guide for v1.3.0 docker
  website/blog/releases/v1.3.0.md
  website/docs/deployment/docker/index.md
  website/docs/deployment/docker/sandbox.md
  website/docs/deployment/index.md
  website/docs/troubleshooting/index.md
Labels: area/docs, release

#1011 Add AWS Deployment Options section
  website/docs/deployment/aws/index.md
  website/docs/deployment/cloud/index.md
  website/docs/deployment/index.md
  website/docs/deployment/kubernetes/index.md
Labels: area/docs

#1014 Add v1.3.1 blog post
  website/blog/releases/v1.3.1.md
  website/docusaurus.config.ts
Labels: area/blog, release
