Repository spiceai/docs, pull requests merged in 2025-04, with the labels that each got.

#927 Add docs for `preserve_insertion_order`
  website/docs/components/data-accelerators/duckdb.md
Labels: area/docs

#932 Add docs for `runtime.results_cache.cache_key_type`
  website/docs/features/caching/index.md
  website/docs/reference/spicepod/runtime.md
Labels: documentation

#935 Fix `duckdb_preserve_insertion_order` default
  website/docs/components/data-accelerators/duckdb.md
Labels: area/docs

#936 Enforce Pulls with Spice
  .github/workflows/enforce-pulls-with-spice.yml
  .github/workflows/label.yml
Labels: enhancement, area/docs

#937 Add docs for component metrics & new mysql connection parameters
  website/docs/components/data-connectors/mysql.md
  website/docs/features/observability/component_metrics.md
  website/docs/features/observability/index.md
  website/docs/reference/spicepod/datasets.md
Labels: documentation, area/docs

#939 Update acknowledgments for 1.1.1
  website/docs/acknowledgements/index.md
Labels: area/docs

#934 Updates for v1.1.1 release
  website/docs/acknowledgements/index.md
  website/docs/components/data-connectors/mysql.md
  website/docs/components/data-connectors/s3.md
  website/docs/features/caching/index.md
  website/docs/features/observability/component_metrics.md
  website/docs/features/observability/index.md
  website/docs/reference/spicepod/datasets.md
  website/docs/reference/spicepod/runtime.md
Labels: area/docs

#940 Blog post for v.1.1.1 and added tags
  website/blog/releases/v1.1.1.md
  website/blog/tags.yml
Labels: area/blog, release

#941 banner update
  website/docusaurus.config.ts
Labels: area/blog

#942 Docs tweaks
  website/docs/getting-started/index.mdx
  website/docs/getting-started/spiceai.md
Labels: area/docs

#944 Update Tableau instructions
  website/docs/clients/tableau/index.md
  website/static/img/tableau/tableau-custom-sql.png
  website/static/img/tableau/tableau-jdbc-conn.png
  website/static/img/tableau/tableau-spice-chart.png
  website/static/img/tableau/tableau-spice-dialog.png
  website/static/img/tableau/tableau-spice-example.png
  website/static/img/tableau/tableau-tables-list.png
Labels: enhancement, area/docs

#946 Tags update
  website/blog/tags.yml
Labels: documentation, area/blog

#947 Updated announcement bar
  website/docusaurus.config.ts
Labels: area/blog

#948 docs: Remove IMAP OAuth
  website/docs/components/data-connectors/imap.md
Labels: area/docs

#949 Update openapi.json
  website/docs/api/HTTP/generate-package.api.mdx
  website/docs/api/HTTP/get-catalogs.api.mdx
  website/docs/api/HTTP/get-config.api.mdx
  website/docs/api/HTTP/get-datasets.api.mdx
  website/docs/api/HTTP/get-iceberg-namespaces.api.mdx
  website/docs/api/HTTP/get-model-predict.api.mdx
  website/docs/api/HTTP/get-models.api.mdx
  website/docs/api/HTTP/get-spicepods.api.mdx
  website/docs/api/HTTP/get-status.api.mdx
  website/docs/api/HTTP/head-namespace.api.mdx
  website/docs/api/HTTP/list.api.mdx
  website/docs/api/HTTP/mcp-event.api.mdx
  website/docs/api/HTTP/operation-id.api.mdx
  website/docs/api/HTTP/patch-dataset-acceleration.api.mdx
  website/docs/api/HTTP/post-batch-predict.api.mdx
  website/docs/api/HTTP/post-chat-completions.api.mdx
  website/docs/api/HTTP/post-dataset-refresh.api.mdx
  website/docs/api/HTTP/post-embeddings.api.mdx
  website/docs/api/HTTP/post-eval.api.mdx
  website/docs/api/HTTP/post-nsql.api.mdx
  website/docs/api/HTTP/post-search.api.mdx
  website/docs/api/HTTP/post-sql.api.mdx
  website/docs/api/HTTP/post.api.mdx
  website/docs/api/HTTP/ready.api.mdx
  website/docs/api/HTTP/runtime.info.mdx
  website/public/openapi.json
Labels: area/docs

#950 Move Tableau image to correct place in 1.1.2 release blog
  website/blog/releases/v1.1.2.md
Labels: area/blog, release

#951 Update NSQL api description
  website/docs/api/HTTP/post-nsql.api.mdx
  website/docs/api/HTTP/sidebar.ts
  website/public/openapi.json
Labels: area/docs

#953 Tableau: upgrade recommended Flight SQL JDBC driver to v18.2.0
  website/docs/clients/tableau/index.md
  website/static/img/tableau/tableau-spice-dialog.png
Labels: bug

#956 Add `captured-outputs`
  website/docs/cli/reference/run.md
Labels: area/docs

#952 Update evals.md
  website/docs/features/large-language-models/evals.md
Labels: area/docs

#955 Databricks LLMs documentation
  website/docs/components/models/databricks.md
  website/docs/components/models/index.md
Labels: area/docs

#961 docs: Delta Lake and Databricks Connector `aws_allow_http` parameter
  website/docs/components/data-connectors/databricks.md
  website/docs/components/data-connectors/delta-lake.md
Labels: area/docs

#963 Add Python ADBC to cookbook and tweak descriptions
  website/src/pages/cookbook/_ignored.tsx
Labels: area/cookbook

#959 Docs for workers
  website/docs/components/workers/index.md
  website/docs/reference/spicepod/index.md
  website/docs/reference/spicepod/workers.md
Labels: area/docs

#965 Add `runtime.memory_limit`
  website/docs/reference/memory.md
  website/docs/reference/spicepod/runtime.md
Labels: documentation, area/docs

#967 Fix links
  website/docs/components/workers/index.md
  website/docs/reference/spicepod/runtime.md
Labels: bug, documentation, area/docs

#964 Add Parameterized Queries
  website/docs/api/adbc/index.md
  website/docs/api/jdbc/index.md
  website/docs/api/odbc/index.md
  website/docs/api/overview.md
  website/docs/reference/sql/explain.md
  website/docs/reference/sql/prepared_statements.md
Labels: documentation, area/docs

#968 Views can now be locally accelerated
  website/docs/components/views/index.md
  website/docs/features/data-acceleration/index.md
Labels: area/docs

#966 Document `runtime.shutdown_timeout` param
  website/docs/reference/spicepod/runtime.md
Labels: enhancement, area/docs

#969 Fix the broken runtime_limit link in release branch
  website/docs/reference/memory.md
Labels: bug, documentation

#962 docs: Add documentation for `spice chat` CLI command
  website/docs/cli/reference/chat.md
Labels: area/docs

#972 Update acknowledgements 1.2.0
  website/docs/acknowledgements/index.md
Labels: area/docs

#958 Docs changes for v1.2.0
  website/docs/acknowledgements/index.md
  website/docs/api/HTTP/generate-package.api.mdx
  website/docs/api/HTTP/get-catalogs.api.mdx
  website/docs/api/HTTP/get-config.api.mdx
  website/docs/api/HTTP/get-datasets.api.mdx
  website/docs/api/HTTP/get-iceberg-namespaces.api.mdx
  website/docs/api/HTTP/get-model-predict.api.mdx
  website/docs/api/HTTP/get-models.api.mdx
  website/docs/api/HTTP/get-spicepods.api.mdx
  website/docs/api/HTTP/get-status.api.mdx
  website/docs/api/HTTP/head-namespace.api.mdx
  website/docs/api/HTTP/list.api.mdx
  website/docs/api/HTTP/mcp-event.api.mdx
  website/docs/api/HTTP/operation-id.api.mdx
  website/docs/api/HTTP/patch-dataset-acceleration.api.mdx
  website/docs/api/HTTP/post-batch-predict.api.mdx
  website/docs/api/HTTP/post-chat-completions.api.mdx
  website/docs/api/HTTP/post-dataset-refresh.api.mdx
  website/docs/api/HTTP/post-embeddings.api.mdx
  website/docs/api/HTTP/post-eval.api.mdx
  website/docs/api/HTTP/post-nsql.api.mdx
  website/docs/api/HTTP/post-search.api.mdx
  website/docs/api/HTTP/post-sql.api.mdx
  website/docs/api/HTTP/post.api.mdx
  website/docs/api/HTTP/ready.api.mdx
  website/docs/api/HTTP/runtime.info.mdx
  website/docs/api/adbc/index.md
  website/docs/api/jdbc/index.md
  website/docs/api/odbc/index.md
  website/docs/api/overview.md
  website/docs/cli/reference/chat.md
  website/docs/components/data-connectors/databricks.md
  website/docs/components/data-connectors/delta-lake.md
  website/docs/components/models/databricks.md
  website/docs/components/models/index.md
  website/docs/components/views/index.md
  website/docs/components/workers/index.md
  website/docs/features/data-acceleration/index.md
  website/docs/reference/memory.md
  website/docs/reference/spicepod/index.md
  website/docs/reference/spicepod/runtime.md
  website/docs/reference/spicepod/workers.md
  website/docs/reference/sql/explain.md
  website/docs/reference/sql/prepared_statements.md
  website/public/openapi.json
  website/src/pages/cookbook/_ignored.tsx
Labels: area/docs

#974 docs banner update v1.2.0
  website/docusaurus.config.ts
Labels: area/blog

#973 blog post for v1.2.0
  website/blog/releases/v1.2.0.md
  website/blog/tags.yml
Labels: area/blog, release

#975 tags update
  website/blog/tags.yml
Labels: area/blog

#976 Remove annoying OGP image
  website/docusaurus.config.ts
Labels: area/docs
