Repository spiceai/docs, pull requests merged in 2025-06, with the labels that each got.

#1025 Update banner to v1.3.2
  website/docusaurus.config.ts
Labels: area/blog

#1027 Add Glue data connector docs
  website/docs/components/data-connectors/glue.md
  website/docs/components/data-connectors/index.md
Labels: documentation, area/docs

#1015 Docs for new worker UX
  website/docs/components/workers/index.md
  website/docs/reference/spicepod/index.md
  website/docs/reference/spicepod/workers.md
Labels: area/docs

#1013 search docs for multi-column changes
  website/docs/features/search/vector-search.md
Labels: area/docs

#1030 docs: Add search results cache
  website/docs/features/caching/index.md
  website/docs/reference/spicepod/runtime.md
Labels: area/docs

#1033 Fix search response payload
  website/docs/features/search/vector-search.md
Labels: area/docs

#1034 docs: Add search cache metrics
  website/docs/features/observability/index.md
Labels: area/docs

#1037 Fix the documentation for the load_state metrics
  website/docs/features/observability/index.md
Labels: area/docs

#1041 update OpenAPI.json
  website/docs/api/HTTP/generate-package.api.mdx
  website/docs/api/HTTP/get-catalogs.api.mdx
  website/docs/api/HTTP/get-config.api.mdx
  website/docs/api/HTTP/get-datasets.api.mdx
  website/docs/api/HTTP/get-iceberg-namespaces.api.mdx
  website/docs/api/HTTP/get-model-predict.api.mdx
  website/docs/api/HTTP/get-models.api.mdx
  website/docs/api/HTTP/get-spicepods.api.mdx
  website/docs/api/HTTP/get-status.api.mdx
  website/docs/api/HTTP/head-namespace.api.mdx
  website/docs/api/HTTP/list.api.mdx
  website/docs/api/HTTP/mcp-event.api.mdx
  website/docs/api/HTTP/operation-id.api.mdx
  website/docs/api/HTTP/patch-dataset-acceleration.api.mdx
  website/docs/api/HTTP/post-batch-predict.api.mdx
  website/docs/api/HTTP/post-chat-completions.api.mdx
  website/docs/api/HTTP/post-dataset-refresh.api.mdx
  website/docs/api/HTTP/post-embeddings.api.mdx
  website/docs/api/HTTP/post-eval.api.mdx
  website/docs/api/HTTP/post-nsql.api.mdx
  website/docs/api/HTTP/post-search.api.mdx
  website/docs/api/HTTP/post-sql.api.mdx
  website/docs/api/HTTP/post.api.mdx
  website/docs/api/HTTP/ready.api.mdx
  website/docs/api/HTTP/runtime.info.mdx
  website/docs/api/HTTP/sidebar.ts
  website/public/openapi.json
Labels: area/docs

#1040 Changes for release v1.4
  website/docs/api/HTTP/generate-package.api.mdx
  website/docs/api/HTTP/get-catalogs.api.mdx
  website/docs/api/HTTP/get-config.api.mdx
  website/docs/api/HTTP/get-datasets.api.mdx
  website/docs/api/HTTP/get-iceberg-namespaces.api.mdx
  website/docs/api/HTTP/get-model-predict.api.mdx
  website/docs/api/HTTP/get-models.api.mdx
  website/docs/api/HTTP/get-spicepods.api.mdx
  website/docs/api/HTTP/get-status.api.mdx
  website/docs/api/HTTP/head-namespace.api.mdx
  website/docs/api/HTTP/list.api.mdx
  website/docs/api/HTTP/mcp-event.api.mdx
  website/docs/api/HTTP/operation-id.api.mdx
  website/docs/api/HTTP/patch-dataset-acceleration.api.mdx
  website/docs/api/HTTP/post-batch-predict.api.mdx
  website/docs/api/HTTP/post-chat-completions.api.mdx
  website/docs/api/HTTP/post-dataset-refresh.api.mdx
  website/docs/api/HTTP/post-embeddings.api.mdx
  website/docs/api/HTTP/post-eval.api.mdx
  website/docs/api/HTTP/post-nsql.api.mdx
  website/docs/api/HTTP/post-search.api.mdx
  website/docs/api/HTTP/post-sql.api.mdx
  website/docs/api/HTTP/post.api.mdx
  website/docs/api/HTTP/ready.api.mdx
  website/docs/api/HTTP/runtime.info.mdx
  website/docs/api/HTTP/sidebar.ts
  website/docs/cli/reference/trace.md
  website/docs/components/catalogs/glue.md
  website/docs/components/catalogs/index.md
  website/docs/components/data-accelerators/index.md
  website/docs/components/data-connectors/glue.md
  website/docs/components/data-connectors/index.md
  website/docs/components/workers/index.md
  website/docs/faq/index.md
  website/docs/features/caching/index.md
  website/docs/features/data-acceleration/data-refresh.md
  website/docs/features/observability/index.md
  website/docs/features/search/vector-search.md
  website/docs/reference/cron.md
  website/docs/reference/spicepod/datasets.md
  website/docs/reference/spicepod/index.md
  website/docs/reference/spicepod/runtime.md
  website/docs/reference/spicepod/workers.md
  website/public/openapi.json
  website/src/components/organisms/features/features.tsx
Labels: area/docs

#1045 Docs for release v1.4.0
  website/docs/acknowledgements/index.md
  website/docs/api/HTTP/generate-package.api.mdx
  website/docs/api/HTTP/get-catalogs.api.mdx
  website/docs/api/HTTP/get-config.api.mdx
  website/docs/api/HTTP/get-datasets.api.mdx
  website/docs/api/HTTP/get-iceberg-namespaces.api.mdx
  website/docs/api/HTTP/get-model-predict.api.mdx
  website/docs/api/HTTP/get-models.api.mdx
  website/docs/api/HTTP/get-spicepods.api.mdx
  website/docs/api/HTTP/get-status.api.mdx
  website/docs/api/HTTP/head-namespace.api.mdx
  website/docs/api/HTTP/list.api.mdx
  website/docs/api/HTTP/mcp-event.api.mdx
  website/docs/api/HTTP/operation-id.api.mdx
  website/docs/api/HTTP/patch-dataset-acceleration.api.mdx
  website/docs/api/HTTP/post-batch-predict.api.mdx
  website/docs/api/HTTP/post-chat-completions.api.mdx
  website/docs/api/HTTP/post-dataset-refresh.api.mdx
  website/docs/api/HTTP/post-embeddings.api.mdx
  website/docs/api/HTTP/post-eval.api.mdx
  website/docs/api/HTTP/post-nsql.api.mdx
  website/docs/api/HTTP/post-search.api.mdx
  website/docs/api/HTTP/post-sql.api.mdx
  website/docs/api/HTTP/post.api.mdx
  website/docs/api/HTTP/ready.api.mdx
  website/docs/api/HTTP/runtime.info.mdx
  website/docs/api/HTTP/sidebar.ts
  website/docs/cli/reference/trace.md
  website/docs/components/catalogs/glue.md
  website/docs/components/catalogs/index.md
  website/docs/components/data-accelerators/index.md
  website/docs/components/data-connectors/glue.md
  website/docs/components/data-connectors/index.md
  website/docs/components/workers/index.md
  website/docs/faq/index.md
  website/docs/features/caching/index.md
  website/docs/features/data-acceleration/data-refresh.md
  website/docs/features/observability/index.md
  website/docs/features/search/vector-search.md
  website/docs/reference/cron.md
  website/docs/reference/spicepod/datasets.md
  website/docs/reference/spicepod/index.md
  website/docs/reference/spicepod/runtime.md
  website/docs/reference/spicepod/workers.md
  website/public/openapi.json
  website/src/components/organisms/features/features.tsx
Labels: area/docs

#1046 blog post for v1.4.0
  website/blog/releases/v1.4.0.md
Labels: area/blog, release

#1047 update banner v1.4.0
  website/docusaurus.config.ts
Labels: area/blog, release

#1050 Add information about reserved keywords
  website/docs/components/data-connectors/abfs.md
  website/docs/components/data-connectors/clickhouse.md
  website/docs/components/data-connectors/databricks.md
  website/docs/components/data-connectors/debezium.md
  website/docs/components/data-connectors/delta-lake.md
  website/docs/components/data-connectors/dremio.md
  website/docs/components/data-connectors/duckdb.md
  website/docs/components/data-connectors/dynamodb.md
  website/docs/components/data-connectors/file.md
  website/docs/components/data-connectors/flightsql.md
  website/docs/components/data-connectors/ftp.md
  website/docs/components/data-connectors/github.md
  website/docs/components/data-connectors/glue.md
  website/docs/components/data-connectors/graphql.md
  website/docs/components/data-connectors/https.md
  website/docs/components/data-connectors/iceberg.md
  website/docs/components/data-connectors/imap.md
  website/docs/components/data-connectors/mssql.md
  website/docs/components/data-connectors/mysql.md
  website/docs/components/data-connectors/odbc.md
  website/docs/components/data-connectors/s3.md
  website/docs/components/data-connectors/snowflake.md
  website/docs/components/data-connectors/spark.md
  website/docs/components/data-connectors/spiceai.md
  website/docs/reference/spicepod/datasets.md
  website/docs/reference/spicepod/keywords.md
Labels: area/docs
