Repository spiceai/docs, pull requests merged in 2025-03, with the labels that each got.

#892 Improve the Helm documentation with new stateful configuration
  website/docs/deployment/kubernetes/index.md
Labels: documentation

#893 Add Spice v1.0.5 release blogpost
  website/blog/authors.yml
  website/blog/releases/v1.0.5.md
  website/docusaurus.config.ts
Labels: blog

#901 Create labler.yml
  .github/labeler.yml
  .github/workflows/label.yml
Labels: enhancement

#904 Add v1.0.6 release blogpost
  website/blog/releases/v1.0.6.md
Labels: release

#909 Add docs_writer model.
  spicepod.yaml
Labels: enhancement

#914 blog post v1.0.7
  website/blog/releases/v1.0.7.md
  website/docusaurus.config.ts
Labels: area/blog, release

#895 Docs for MCP
  website/docs/components/tools/index.md
  website/docs/components/tools/mcp.md
  website/docs/features/large-language-models/evals.md
  website/docs/features/large-language-models/mcp.md
  website/docs/features/large-language-models/memory.md
  website/docs/features/large-language-models/parameter_overrides.md
  website/docs/features/large-language-models/tools.md
  website/docs/index.mdx
  website/docs/reference/spicepod/tools.md
  website/static/img/features/mcp.png
Labels: area/docs

#908 Docs for LLM and embedding eval scorers
  website/docs/features/large-language-models/evals.md
  website/docs/reference/spicepod/evals.md
Labels: nomerge

#907 Docs for parameterized prompts
  website/docs/components/models/index.md
  website/docs/features/large-language-models/parameterized_prompts.md
Labels: nomerge

#897 Perplexity / WebSearch documentation.
  website/docs/components/models/perplexity.md
  website/docs/components/tools/index.md
  website/docs/components/tools/websearch.md
  website/docs/reference/spicepod/tools.md
Labels: nomerge

#924 Update the FAQ Mar 31, 2025
  website/docs/faq/index.md
Labels: enhancement, area/docs
